{% extends'base.html.twig' %}


{% block body %}
    <!-- start slideshow-->
    <div class="container-fluid full-screen">
        <div class="row slider-fade">
            <div class="owl-carousel owl-theme width-100">
                <div class="text-center item bg-img" data-overlay-dark="7" data-background=/ets/img/slider/slide9.jpg">
                    <div class="absolute-middle-center caption">
                        <div class="overflow-hidden">
                            <h3 class="alt-font font-size28 sm-font-size18 text-white no-margin">We Are Awesome</h3>
                            <h1 class="text-white">Creative for Startup</h1>
                            <p class="margin-30px-bottom sm-margin-20px-bottom sm-display-none">We provide best for our client and respect their business design idea.</p>
                            <a href="javascript:void(0);" class="butn medium theme">
                                <span class="alt-font">Learn More</span><i class="fas fa-angle-right font-size16 sm-font-size14 text-white margin-10px-left"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="text-center item bg-img" data-overlay-dark="6" data-background="/assets/img/slider/slide17.jpg">
                    <div class="absolute-middle-center caption">
                        <div class="overflow-hidden">
                            <h3 class="alt-font font-size28 sm-font-size18 text-white no-margin">We Are Awesome</h3>
                            <h1 class="text-white">Creative for Website</h1>
                            <p class="margin-30px-bottom sm-margin-20px-bottom sm-display-none">We provide best for our client and respect their business design idea.</p>
                            <a href="javascript:void(0);" class="butn medium theme">
                                <span class="alt-font">Learn More</span><i class="fas fa-angle-right font-size16 sm-font-size14 text-white margin-10px-left"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="text-center item bg-img" data-overlay-dark="6" data-background="/assets/img/slider/slide8.jpg">
                    <div class="absolute-middle-center caption">
                        <div class="overflow-hidden">
                            <h3 class="alt-font font-size28 sm-font-size18 text-white no-margin">We Are Awesome</h3>
                            <h1 class="text-white">Creative for Agency</h1>
                            <p class="margin-30px-bottom sm-margin-20px-bottom sm-display-none">We provide best for our client and respect their business design idea.</p>
                            <a href="javascript:void(0);" class="butn medium theme">
                                <span class="alt-font">Learn More</span><i class="fas fa-angle-right font-size16 sm-font-size14 text-white margin-10px-left"></i>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- end slideshow-->

    <!-- start about section -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 display-table md-margin-five-top sm-margin-30px-bottom xs-no-margin-top">
                    <div class="display-table-cell vertical-align-middle width-100">
                        <div class="section-heading left half">
                            <h2 class="title-style2">Welcome to fabrex multipurpose template</h2></div>
                        <p>Perspiciatis unde omnis iste natus error sit voluptatem accusantium accusantium laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae explicabo ratione voluptatem sequi nesciunt.Perspiciatis unde omnis iste natus error sit voluptatem accusantium accusantium laudantium.</p>
                        <a href="javascript:void(0)" class="butn medium"><span>About Company</span></a>
                    </div>
                </div>
                <div class="col-lg-5 col-md-9 col-xs-12 offset-lg-1 offset-md-0 text-center display-table">
                    <div class="display-table-cell vertical-align-middle">
                        <img src="/assets/img/content/team-11.jpg" alt="" class="width-50 float-left padding-5px-right border-radius-5">
                        <img src="/assets/img/content/team-10.jpg" alt="" class="width-50 float-left padding-5px-left border-radius-5">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end about section -->

    <!-- start service section -->
    <section class="bg-light-gray">
        <div class="container">
            <div class="section-heading">
                <h3 class="title-style2">Our Services</h3>
                <p class="width-55 sm-width-75 xs-width-95 center-col">Business consulting excepteur sint occaecat cupidatat consulting non proident, sunt in culpa qui officia deserunt laborum Market.</p>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 margin-30px-bottom xs-margin-20px-bottom">
                    <div class="services-block-three">
                        <a href="javascript:void(0)">
                            <div class="padding-15px-bottom">
                                <i class="icon-tools"></i>
                            </div>
                            <h4>Branding Design</h4>
                            <p class="xs-font-size13 xs-line-height-22">Exhaustive technology of implementing multi purpose projects is putting your project successful.</p>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 margin-30px-bottom xs-margin-20px-bottom">
                    <div class="services-block-three">
                        <a href="javascript:void(0)">
                            <div class="padding-15px-bottom">
                                <i class="icon-layers"></i>
                            </div>
                            <h4>Bootstrap Framework</h4>
                            <p class="xs-font-size13 xs-line-height-22">Exhaustive technology of implementing multi purpose projects is putting your project successful.</p>
                        </a>
                    </div>
                </div>
                <div class="services-block-three col-lg-4 col-md-6 margin-30px-bottom xs-margin-20px-bottom">
                    <div class="services-block-three">
                        <a href="javascript:void(0)">
                            <div class="padding-15px-bottom">
                                <i class="icon-gears"></i>
                            </div>
                            <h4>Creative Ideas</h4>
                            <p class="xs-font-size13 xs-line-height-22">Exhaustive technology of implementing multi purpose projects is putting your project successful.</p>
                        </a>
                    </div>
                </div>
                <div class="services-block-three col-lg-4 col-md-6 sm-margin-30px-bottom xs-margin-20px-bottom">
                    <div class="services-block-three">
                        <a href="javascript:void(0)">
                            <div class="padding-15px-bottom">
                                <i class="icon-mobile"></i>
                            </div>
                            <h4>100% Responsive Layout</h4>
                            <p class="xs-font-size13 xs-line-height-22">Exhaustive technology of implementing multi purpose projects is putting your project successful.</p>
                        </a>
                    </div>
                </div>
                <div class="services-block-three col-lg-4 col-md-6 xs-margin-20px-bottom">
                    <div class="services-block-three">
                        <a href="javascript:void(0)">
                            <div class="padding-15px-bottom">
                                <i class="icon-document"></i>
                            </div>
                            <h4>Easy page builder</h4>
                            <p class="xs-font-size13 xs-line-height-22">Exhaustive technology of implementing multi purpose projects is putting your project successful.</p>
                        </a>
                    </div>
                </div>
                <div class="services-block-three col-lg-4 col-md-6">
                    <div class="services-block-three">
                        <a href="javascript:void(0)">
                            <div class="padding-15px-bottom">
                                <i class="icon-search"></i>
                            </div>
                            <h4>Clean Modern Code</h4>
                            <p class="xs-font-size13 xs-line-height-22">Exhaustive technology of implementing multi purpose projects is putting your project successful.</p>
                        </a>
                    </div>
                </div>
                <!-- end -->
            </div>

        </div>
    </section>
    <!-- end service section -->

    <!-- start project section -->
    <section>
        <div class="container">
            <div class="section-heading">
                <h3 class="title-style2">Our Projects</h3>
                <p class="width-55 sm-width-75 xs-width-95 center-col">Business consulting excepteur sint occaecat cupidatat consulting non proident, sunt in culpa qui officia deserunt laborum Market.</p>
            </div>
            <div class="row">

                <!-- Start links -->
                <div class="filtering col-sm-12 text-center">
                    <span data-filter='*' class="active">All</span>
                    <span data-filter='.develop'>Develop</span>
                    <span data-filter='.design'>Design</span>
                    <span data-filter='.graphic'>Graphic</span>
                </div>
                <!-- End links -->

                <div class="gallery text-center width-100">

                    <div class="col-lg-4 col-md-6 margin-30px-bottom items design">
                        <div class="project-grid-style2">
                            <div class="project-details">
                                <img src="/assets/img/projects/pro-1.jpg" alt="">
                                <div class="portfolio-icon">
                                    <a class="popimg" href="/assets/img/projects/pro-1.jpg"><i class="fas fa-search-plus"></i></a>
                                </div>
                                <div class="portfolio-post-border"></div>
                            </div>
                            <div class="portfolio-title">
                                <p>Design</p>
                                <h4>Creative Book</h4>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 margin-30px-bottom items design">
                        <div class="project-grid-style2">
                            <div class="project-details">
                                <img src="/assets/img/projects/pro-2.jpg" alt="">
                                <div class="portfolio-icon">
                                    <a class="popimg" href="/assets/img/projects/pro-2.jpg"><i class="fas fa-search-plus"></i></a>
                                </div>
                                <div class="portfolio-post-border"></div>
                            </div>
                            <div class="portfolio-title">
                                <p>Design</p>
                                <h4>Responsive Design </h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 margin-30px-bottom items develop">
                        <div class="project-grid-style2">
                            <div class="project-details">
                                <img src="/assets/img/projects/pro-3.jpg" alt="">
                                <div class="portfolio-icon">
                                    <a class="popimg" href="/assets/img/projects/pro-3.jpg"><i class="fas fa-search-plus"></i></a>
                                </div>
                                <div class="portfolio-post-border"></div>
                            </div>
                            <div class="portfolio-title">
                                <p>Develop</p>
                                <h4>Design Mockup</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 sm-margin-30px-bottom items graphic">
                        <div class="project-grid-style2">
                            <div class="project-details">
                                <img src="/assets/img/projects/pro-4.jpg" alt="">
                                <div class="portfolio-icon">
                                    <a class="popimg" href="/assets/img/projects/pro-4.jpg"><i class="fas fa-search-plus"></i></a>
                                </div>
                                <div class="portfolio-post-border"></div>
                            </div>
                            <div class="portfolio-title">
                                <p>Graphic</p>
                                <h4>Watch Mockup</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 xs-margin-30px-bottom items graphic">
                        <div class="project-grid-style2">
                            <div class="project-details">
                                <img src="/assets/img/projects/pro-5.jpg" alt="">
                                <div class="portfolio-icon">
                                    <a class="popimg" href="/assets/img/projects/pro-5.jpg"><i class="fas fa-search-plus"></i></a>
                                </div>
                                <div class="portfolio-post-border"></div>
                            </div>
                            <div class="portfolio-title">
                                <p>Graphic</p>
                                <h4>Creative Design</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 items develop">
                        <div class="project-grid-style2">
                            <div class="project-details">
                                <img src="/assets/img/projects/pro-6.jpg" alt="">
                                <div class="portfolio-icon">
                                    <a class="popimg" href="/assets/img/projects/pro-6.jpg"><i class="fas fa-search-plus"></i></a>
                                </div>
                                <div class="portfolio-post-border"></div>
                            </div>
                            <div class="portfolio-title">
                                <p>Develop</p>
                                <h4>Tag Your Target</h4>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- end project section -->

    <!-- start counter section -->
    <section class="parallax" data-overlay-dark="6" data-background="/assets/img/bg/bg12.jpg">
        <div class="container">
            <div class="row">
                <div class="col-6 col-lg-3 col-md-6 sm-margin-30px-bottom">
                    <div class="counter-box">
                        <span class="icon margin-5px-bottom display-block text-white font-size36 xs-font-size30 xs-text-center"><i class="icon-profile-male"></i></span>
                        <h4 class="countup text-white display-block xs-text-center">1826</h4>
                        <div class="separator-line-horrizontal-medium-light3 bg-white margin-15px-tb xs-margin-10px-tb opacity5 center-col"></div>
                        <p class="font-size24 sm-font-size20 xs-font-size18 font-weight-600 text-white no-margin text-center">Satisfied Visitors</p>
                    </div>
                </div>
                <div class="col-6 col-lg-3 col-md-6 sm-margin-30px-bottom">
                    <div class="counter-box">
                        <span class="icon margin-5px-bottom display-block text-white font-size36 xs-font-size30 xs-text-center"><i class="icon-happy"></i></span>
                        <h4 class="countup text-white display-block xs-text-center">875</h4>
                        <div class="separator-line-horrizontal-medium-light3 bg-white margin-15px-tb xs-margin-10px-tb opacity5 center-col"></div>
                        <p class="font-size24 sm-font-size20 xs-font-size18 font-weight-600 text-white no-margin text-center">Happy Clients</p>
                    </div>
                </div>
                <div class="col-6 col-lg-3 col-md-6">
                    <div class="counter-box">
                        <span class="icon margin-5px-bottom display-block text-white font-size36 xs-font-size30 xs-text-center"><i class="icon-trophy"></i></span>
                        <h4 class="countup text-white display-block xs-text-center">1412</h4>
                        <div class="separator-line-horrizontal-medium-light3 bg-white margin-15px-tb xs-margin-10px-tb opacity5 center-col"></div>
                        <p class="font-size24 sm-font-size20 xs-font-size18 font-weight-600 text-white no-margin text-center">Awards Wining</p>
                    </div>
                </div>
                <div class="col-6 col-lg-3 col-md-6">
                    <div class="counter-box">
                        <span class="icon margin-5px-bottom display-block text-white font-size36 xs-font-size30 xs-text-center"><i class="icon-genius"></i></span>
                        <h4 class="countup text-white display-block xs-text-center">100</h4>
                        <div class="separator-line-horrizontal-medium-light3 bg-white margin-15px-tb xs-margin-10px-tb opacity5 center-col"></div>
                        <p class="font-size24 sm-font-size20 xs-font-size18 font-weight-600 text-white no-margin text-center">Consultation</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end counter section -->

    <!-- Start Team Section -->
    <section class="team">
        <div class="container">
            <div class="section-heading">
                <h3 class="title-style2">Our Team</h3>
                <p class="width-55 sm-width-75 xs-width-95 center-col">Business consulting excepteur sint occaecat cupidatat consulting non proident, sunt in culpa qui officia deserunt laborum Market.</p>
            </div>
            <div class="row">

                <!-- start team member -->
                <div class="text-center col-lg-3 col-md-6 col-sm-12 sm-margin-20px-bottom">
                    <div class="team-member-img">
                        <img class="/assets/img-responsive" src="/assets/img/team/team-06.jpg" alt="">
                    </div>
                    <div class="text-center margin-25px-top margin-15px-bottom  padding-15px-bottom border-bottom">
                        <div class="text-extra-dark-gray font-weight-600 text-uppercase font-size14 alt-font">Jamara Karle</div>
                        <div class="text-uppercase font-size11">Founder</div>
                    </div>
                    <div class="social-links">
                        <a class="d-inline-block margin-10px-right" href="javascript:void(0);"><i class="fab fa-facebook-f"></i></a>
                        <a class="d-inline-block margin-10px-right" href="javascript:void(0);"><i class="fab fa-twitter"></i></a>
                        <a class="d-inline-block margin-10px-right" href="javascript:void(0);"><i class="fab fa-google-plus-g"></i></a>
                        <a class="d-inline-block border-radius-100" href="javascript:void(0);"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
                <!-- end team member -->

                <!-- start team member -->
                <div class="text-center col-lg-3 col-md-6 col-sm-12 sm-margin-20px-bottom">
                    <div class="team-member-img">
                        <img class="/assets/img-responsive" src="/assets/img/team/team-05.jpg" alt="">
                    </div>
                    <div class="text-center margin-25px-top margin-15px-bottom  padding-15px-bottom border-bottom">
                        <div class="text-extra-dark-gray font-weight-600 text-uppercase font-size14 alt-font">Keir Prestonly</div>
                        <div class="text-uppercase font-size11">Co-Founder</div>
                    </div>
                    <div class="social-links">
                        <a class="d-inline-block margin-10px-right" href="javascript:void(0);"><i class="fab fa-facebook-f"></i></a>
                        <a class="d-inline-block margin-10px-right" href="javascript:void(0);"><i class="fab fa-twitter"></i></a>
                        <a class="d-inline-block margin-10px-right" href="javascript:void(0);"><i class="fab fa-google-plus-g"></i></a>
                        <a class="d-inline-block border-radius-100" href="javascript:void(0);"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
                <!-- end team member -->

                <!-- start team member -->
                <div class="text-center col-lg-3 col-md-6 col-sm-12 xs-margin-20px-bottom">
                    <div class="team-member-img">
                        <img class="/assets/img-responsive" src="/assets/img/team/team-07.jpg" alt="">
                    </div>
                    <div class="text-center margin-25px-top margin-15px-bottom  padding-15px-bottom border-bottom">
                        <div class="text-extra-dark-gray font-weight-600 text-uppercase font-size14 alt-font">Finley Walkeror</div>
                        <div class="text-uppercase font-size11">Developer</div>
                    </div>
                    <div class="social-links">
                        <a class="d-inline-block margin-10px-right" href="javascript:void(0);"><i class="fab fa-facebook-f"></i></a>
                        <a class="d-inline-block margin-10px-right" href="javascript:void(0);"><i class="fab fa-twitter"></i></a>
                        <a class="d-inline-block margin-10px-right" href="javascript:void(0);"><i class="fab fa-google-plus-g"></i></a>
                        <a class="d-inline-block border-radius-100" href="javascript:void(0);"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
                <!-- end team member -->

                <!-- start team member -->
                <div class="text-center col-lg-3 col-md-6 col-sm-12">
                    <div class="team-member-img">
                        <img class="/assets/img-responsive" src="/assets/img/team/team-08.jpg" alt="">
                    </div>
                    <div class="text-center margin-25px-top margin-15px-bottom  padding-15px-bottom border-bottom">
                        <div class="text-extra-dark-gray font-weight-600 text-uppercase font-size14 alt-font">Niamah Hower</div>
                        <div class="text-uppercase font-size11">Designer</div>
                    </div>
                    <div class="social-links">
                        <a class="d-inline-block margin-10px-right" href="javascript:void(0);"><i class="fab fa-facebook-f"></i></a>
                        <a class="d-inline-block margin-10px-right" href="javascript:void(0);"><i class="fab fa-twitter"></i></a>
                        <a class="d-inline-block margin-10px-right" href="javascript:void(0);"><i class="fab fa-google-plus-g"></i></a>
                        <a class="d-inline-block border-radius-100" href="javascript:void(0);"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
                <!-- end team member -->

            </div>
        </div>
    </section>
    <!-- End Team Section -->

    <!-- start testmonials section -->
    <section class="parallax" data-overlay-dark="8" data-background="/assets/img/bg/bg7.jpg">
        <div class="container">
            <div class="section-heading">
                <h3 class="title-style2 white">What Our Client Say</h3>
            </div>
            <div class="owl-carousel owl-theme" id="testmonials-carousel">
                <div class="testmonial-single center-col width-65 sm-width-90">
                    <p class="text-light-gray line-height-28">Exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa.</p>
                    <h4 class="padding-30px-top xs-padding-20px-top text-white">Alivin Corondo</h4>
                    <h6 class="margin-30px-bottom">Networking Lead</h6>
                </div>
                <div class="testmonial-single center-col width-65 sm-width-90">
                    <p class="text-light-gray line-height-28">Exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa.</p>
                    <h4 class="padding-30px-top xs-padding-20px-top text-white">Stepha Kruse</h4>
                    <h6 class="margin-30px-bottom">Design Lead</h6>
                </div>
                <div class="testmonial-single center-col width-65 sm-width-90">
                    <p class="text-light-gray line-height-28">Exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa.</p>
                    <h4 class="padding-30px-top xs-padding-20px-top text-white">Dunican keithly</h4>
                    <h6 class="margin-30px-bottom">Networking Lead</h6>
                </div>
            </div>
        </div>
    </section>
    <!-- end testmonials section -->

    <!-- start blog section -->
    <section>
        <div class="container">
            <div class="section-heading">
                <h3 class="title-style2">Our Blog</h3>
                <p class="width-55 sm-width-75 xs-width-95 center-col">Business consulting excepteur sint occaecat cupidatat consulting non proident, sunt in culpa qui officia deserunt laborum Market.</p>
            </div>
            <div class="row">

                <!-- start blog -->
                <div class="col-lg-4 sm-margin-20px-bottom blog-style1">
                    <div class="item text-center">
                        <div class="post-img">
                            <img src="/assets/img/blog/blog-7.jpg" alt="">
                        </div>
                        <div class="content">
                            <div class="tag alt-font font-weight-300">
                                <a href="blog-list-sidebar.html">Designing | <span class="font-size12 display-inline-block">02 May 2018</span></a>
                            </div>
                            <h5 class="margin-15px-bottom"><a href="blog-post.html">Designing work with us</a></h5>
                            <p>Dolorem ipsum quia dolor consectetur, amet adipisci velit, sed quia non eius numquam modi tempora.</p>
                            <a href="blog-post.html" class="read-more">Read more</a>
                        </div>
                    </div>
                </div>
                <!-- end blog -->

                <!-- start blog -->
                <div class="col-lg-4 sm-margin-20px-bottom blog-style1">
                    <div class="item text-center">
                        <div class="post-img">
                            <img src="/assets/img/blog/blog-8.jpg" alt="">
                        </div>
                        <div class="content">
                            <div class="tag alt-font font-weight-300">
                                <a href="blog-list-sidebar.html">Positive | <span class="font-size12 display-inline-block">11 April 2018</span></a>
                            </div>
                            <h5 class="margin-15px-bottom"><a href="blog-post.html">Always think be positive</a></h5>
                            <p>Consectetur dolorem ipsum quia dolor sit amet, adipisci velit, sed quia non numquam eius modi tempora.</p>
                            <a href="blog-post.html" class="read-more">Read more</a>
                        </div>
                    </div>
                </div>
                <!-- end blog -->

                <!-- start blog -->
                <div class="col-lg-4 blog-style1">
                    <div class="item text-center">
                        <div class="post-img">
                            <img src="/assets/img/blog/blog-9.jpg" alt="">
                        </div>
                        <div class="content">
                            <div class="tag alt-font font-weight-300">
                                <a href="blog-list-sidebar.html">Meeting | <span class="font-size12 display-inline-block">04 March 2018</span></a>
                            </div>
                            <h5 class="margin-15px-bottom"><a href="blog-post.html">Meeting with our clients</a></h5>
                            <p>Numquam dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi.</p>
                            <a href="blog-post.html" class="read-more">Read more</a>
                        </div>
                    </div>
                </div>
                <!-- end blog -->

            </div>
        </div>
    </section>
    <!-- end blog section -->

    <!-- start clients section -->
    <div class="section-clients bg-light-gray">
        <div class="container">
            <div class="owl-carousel owl-theme clients" id="clients">
                <div class="item"><img alt="partner-image" src="/assets/img/partners/client-01.png"></div>
                <div class="item"><img alt="partner-image" src="/assets/img/partners/client-02.png"></div>
                <div class="item"><img alt="partner-image" src="/assets/img/partners/client-03.png"></div>
                <div class="item"><img alt="partner-image" src="/assets/img/partners/client-04.png"></div>
                <div class="item"><img alt="partner-image" src="/assets/img/partners/client-05.png"></div>
                <div class="item"><img alt="partner-image" src="/assets/img/partners/client-06.png"></div>
            </div>
        </div>
    </div>
    <!-- end clients section -->
{% endblock %}
