{% extends 'base.html.twig' %}

{% block title %} Список курсов {% endblock %}


{% block body %}

    <section class="page-title-section2 bg-img cover-background" data-overlay-dark="7" data-background="/assets/img/bg/bg9.jpg">
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <h1>Blog List</h1>
                </div>
                <div class="col-md-12">
                    <ul>
                        <li><a href="home-default.html">Home</a></li>
                        <li><a href="javascript:void(0)">Blog List Sidebar</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </section>
    <!-- end page title section -->

    <!-- start blog section -->
    <section>
        <div class="container">
            <div class=blog-list-simple>
                <div class="row">
                    <div class="col-md-5 col-sm-12 sm-margin-20px-bottom">
                        <div class=blog-list-simple-img><img alt=img src=/temp_upload/bitrix-course.jpg>
                        </div>
                    </div>
                    <div class="col-md-7 col-sm-12">
                        <div class="blog-list-simple-text">
                            <span>Видеокурс</span>
                            <h4>Создание сайта на 1С Битрикс</h4>
                            <p>Online курс по одной из самых популярных CMS в России.
                               В курсе обозревается большинство необходимых инструментов для разработки сайтов на этой системе.</p>
                            <div class="text-left margin-10px-top">
                                <a href="javascript:void(0)" class="butn small">
                                    <span>К урокам курса</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}