{% extends 'base.html.twig' %}

{% set message = exception.message | default('Страница не найдена 😞') %}


{% block title %} {{ message }} {% endblock %}

{% block header_classes %}{% endblock %}
{% block header_start_logo_url %}/assets/img/logos/logo-2-dark.png{% endblock %}
{% block header_first_logo_url %}/assets/img/logos/logo-2-dark.png{% endblock %}
{% block header_second_logo_url %}/assets/img/logos/logo-2-light.png{% endblock %}

{% block body %}
    <section class="error403 error-box bg-img" data-overlay-dark="0" data-background="{{ asset('/assets/img/new/403-bg.jpg') }} ">
        <div class="error-box-text">
            <h1>403</h1>
            <h3>Доступ к странице запрещен</h3>
            <div class="margin-30px-top">
                <a href="/" class="btnz">
                    <span>На главную</span>
                </a>
            </div>
        </div>
    </section>
{% endblock %}