{% extends 'base.html.twig' %}

{% set message = 'Произошла ошибка 😢' %}


{% block title %} {{ message }} {% endblock %}

{% block header_classes %}{% endblock %}
{% block header_start_logo_url %}/assets/img/logos/logo-2-dark.png{% endblock %}
{% block header_first_logo_url %}/assets/img/logos/logo-2-dark.png{% endblock %}
{% block header_second_logo_url %}/assets/img/logos/logo-2-light.png{% endblock %}

{% block body %}
    <section class="error-box bg-img" data-overlay-dark="0" data-background="{{ '' }} ">
        <div class="error-box-text">
            <h1>500</h1>
            <h3>Произошла ошибка</h3>
            <div class="margin-30px-top">
                <a href="/" class="btnz">
                    <span>На главную</span>
                </a>
            </div>
        </div>
    </section>
{% endblock %}